GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 25.04.2022 00:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [uniqueidentifier] NOT NULL,
	[CUSTOMERID] [uniqueidentifier] NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
	[OPENEDDATE] [datetime] NOT NULL,
	[CURRENTBALANCE] [bigint] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[UPDATEDDATE] [datetime] NOT NULL,
	[HASOVERDRAFT] [int] NOT NULL,
	[ACCOUNTNUMBER] [int] NOT NULL,
	[BRANCHCODE] [int] NOT NULL,
	[TOTALOVERDRAFT] [bigint] NOT NULL,
	[BRANCHNAME] [varchar](255) NOT NULL,
	[CURRENCYCODE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 25.04.2022 00:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[NAME] [varchar](255) NOT NULL,
	[SURNAME] [varchar](255) NOT NULL,
	[CITIZENID] [varchar](255) NOT NULL,
	[EMAILADRESS] [varchar](255) NULL,
	[PHONENUMBER] [varchar](255) NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[UPDATEDDATE] [datetime] NOT NULL,
	[STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERRORMESSAGE]    Script Date: 25.04.2022 00:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERRORMESSAGE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[UPDATEDDATE] [datetime] NOT NULL,
	[APPLICATION] [nvarchar](max) NOT NULL,
	[LANGUAGE] [nvarchar](max) NOT NULL,
	[MESSAGECODE] [nvarchar](max) NOT NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
 CONSTRAINT [PK_RAVEN.MESSAGEDATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 25.04.2022 00:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[ID] [uniqueidentifier] NOT NULL,
	[CUSTOMERID] [uniqueidentifier] NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[UPDATEDDATE] [datetime] NOT NULL,
	[OVERDRAFT] [int] NULL,
	[AMOUNT] [bigint] NOT NULL,
	[NEWBALANCE] [bigint] NULL,
	[PREVIOUSBALANCE] [bigint] NULL,
	[ACCOUNTNUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([ID], [CUSTOMERID], [DESCRIPTION], [STATUS], [OPENEDDATE], [CURRENTBALANCE], [CREATEDDATE], [UPDATEDDATE], [HASOVERDRAFT], [ACCOUNTNUMBER], [BRANCHCODE], [TOTALOVERDRAFT], [BRANCHNAME], [CURRENCYCODE]) VALUES (N'56b82f14-2a70-4336-a885-b6bd5f4a4cb3', N'18c94bf0-d0a9-4c46-ba47-470e65355186', N'string', 1, CAST(N'2022-04-23T01:33:00.460' AS DateTime), 0, CAST(N'2022-04-23T01:33:00.460' AS DateTime), CAST(N'2022-04-24T17:12:30.917' AS DateTime), 0, 0, 0, 0, N'string', N'string')
INSERT [dbo].[ACCOUNT] ([ID], [CUSTOMERID], [DESCRIPTION], [STATUS], [OPENEDDATE], [CURRENTBALANCE], [CREATEDDATE], [UPDATEDDATE], [HASOVERDRAFT], [ACCOUNTNUMBER], [BRANCHCODE], [TOTALOVERDRAFT], [BRANCHNAME], [CURRENCYCODE]) VALUES (N'413d82e8-4965-4364-82fb-d965f5f16d9d', N'20c6b3f7-d242-4702-988a-2cb77ba47691', N'MAIN ACCOUNT', 1, CAST(N'2022-04-23T19:45:56.893' AS DateTime), 459, CAST(N'2022-04-23T19:45:56.893' AS DateTime), CAST(N'2022-04-24T17:31:56.940' AS DateTime), 0, 123123, 12, 0, N'GOP ANKARA BRANCH', N'TL')
GO
INSERT [dbo].[ERRORMESSAGE] ([ID], [CREATEDDATE], [UPDATEDDATE], [APPLICATION], [LANGUAGE], [MESSAGECODE], [MESSAGE], [DESCRIPTION]) VALUES (N'931d1f9c-d9f2-4e9a-ae09-6ae05f01c141', CAST(N'2022-04-23T20:59:32.477' AS DateTime), CAST(N'2022-04-23T20:59:32.477' AS DateTime), N'ONLINEBANKING', N'EN', N'MON-002', N'Your transaction cannot be performed for technical reasons.', N'Account Not Found')
INSERT [dbo].[ERRORMESSAGE] ([ID], [CREATEDDATE], [UPDATEDDATE], [APPLICATION], [LANGUAGE], [MESSAGECODE], [MESSAGE], [DESCRIPTION]) VALUES (N'931d1f9c-d9f2-4e9a-ae09-6ae05f01c123', CAST(N'2022-04-23T20:59:32.477' AS DateTime), CAST(N'2022-04-23T20:59:32.477' AS DateTime), N'ONLINEBANKING', N'EN', N'CUS-002', N'Customer Already Exist', N'Account Not Found')
INSERT [dbo].[ERRORMESSAGE] ([ID], [CREATEDDATE], [UPDATEDDATE], [APPLICATION], [LANGUAGE], [MESSAGECODE], [MESSAGE], [DESCRIPTION]) VALUES (N'931d1f9c-d9f2-4e9a-ae09-6ae05f01c145', CAST(N'2022-04-23T20:59:32.477' AS DateTime), CAST(N'2022-04-23T20:59:32.477' AS DateTime), N'ONLINEBANKING', N'EN', N'MON-004', N'Your account currency is not valid for entered currency', N'Your account currency is not valid for entered currency')
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
